#id1 {
    width: 100%;
    /* background-image: url("./assets/bg-img.png"); */
    background-image: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.5)),url('https://cdn.pixabay.com/photo/2016/11/07/05/15/africa-1804896_1280.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

#g1 { 
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.32);
}
